[Unit]
Description=Weather API service
After=multi-user.target
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/weather-station/main.py
[Install]
WantedBy=multi-user.target